# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.pytest_cache/

# Database & Logs
*.db
*.sqlite
*.sqlite3
*.log

# Environment Variables
.env

# Vercel
.vercel/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
